@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@600&display=swap');

body {
  font-family: 'Trispace', sans-serif;
  font-size : 23px;
  color: rgb(87, 87, 87);
  background-color: white;
}
h2, h3 {
  font-family: 'Press Start 2P';
  font-size : 35px;
  color: rgb(255, 255, 255);
}

h1 {
  font-family: 'Press Start 2P';
  font-size : 65px;
  color: rgb(255, 255, 255);
}

a {
  color: #65acef;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  margin-bottom: 20px;
  position : fixed;
  z-index: 10;
  width : 100%;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
.container{
  padding-top : 64px;
}

