@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size : 18px;
  color: rgb(255, 255, 255);
  background-color: white;
}
h4 {
  font-family: 'Reggae One', sans-serif;
  font-size : 18px;
  color: rgb(255, 255, 255);
}

h3 {
  font-family: 'Reggae One';
  font-size : 22px;
  color: rgb(255, 255, 255);
}

h2 {
  font-family: 'Reggae One';
  font-size : 28px;
  color: rgb(255, 255, 255);
}

h1 {
  font-family: 'Reggae One';
  font-size : 48px;
  color: rgb(255, 255, 255);
}

a {
  color: #65acef;
}

nav ul {
  list-style: none;
  display: flex;
  font-family: 'Reggae One';
  font-size : 24px;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 10px;
  position : fixed;
  z-index: 12;
  width : 100%;
  padding-left : 0px;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white !important;
  text-decoration: none;
}

nav ul li img{
  max-height : 35px;
}

nav .under-logo{
  position: fixed;
  z-index: 12;
  writing-mode: vertical-rl;
  top: 80px;
  left: -15px;
  font-size: 30px;
  font-family: 'Reggae One';
}

img{
  max-width : 100%;
}

.container{
  padding-top : 64px;
}

.one-col{
  width : 100%;
}
@keyframes floating { 
  0% { transform: translate(0,  0px); } 
  50%  { transform: translate(0, 15px); } 
  100%   { transform: translate(0, -0px); }     
} 
body, html {
height: 100%;
margin: 0;
}